/* ESTILOS TABLAS */
.fixed-height-table-container {
    /* height: 650px; */
    height: 65vh;
    overflow-y: auto;
    overflow-x: auto;
}

/* Opcional: fuerza un ancho mínimo para garantizar el scroll horizontal */
.fixed-height-table-container table {
  min-width: 1000px; /* Ajusta según el número de columnas */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead th {
    position: sticky;
    top: 0;
}

#cuerpo tr td {
    height: 55px !important;
    min-height: 55px !important;
    max-height: 55px !important;
    font-family: 'Inter', Arial, sans-serif;
}

.icon-hover, .icon-enlace {
    transition: transform 0.2s ease-in-out;
    cursor: pointer; 
}

.icon-hover:hover, .icon-enlace:hover {
    transform: scale(1.2);
}

#btn_add {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

nav ul li {
    cursor: pointer;
}

/* td div i {
    cursor: pointer;
} */