/* ESTILOS TABLAS */
.fixed-height-table-container {
    /* height: 650px; */
    height: 65vh;
    overflow-y: auto;
}

.fixed-height-table-container-alquilar {
    /* height: 380px; */
    max-height: 500px;
    overflow-y: auto;
}

.fixed-height-table-container-informes {
    height: 575px;
    max-height: 600px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    border-bottom: 3px solid black !important;
}

thead th {
    position: sticky;
    top: 0;
}

#cuerpo tr td {
    height: 55px !important;
    min-height: 55px !important;
    max-height: 55px !important;
    font-family: 'Inter', Arial, sans-serif;
}

.icon-hover, .icon-enlace {
    transition: transform 0.2s ease-in-out;
    cursor: pointer; 
}

.icon-hover:hover, .icon-enlace:hover {
    transform: scale(1.2);
}